.portal {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.overlayAfterOpen {
    opacity: 1;
}

.overlayBeforeClose {
    opacity: 0;
}

.content {
    width: 100vw;
}

.wrapper {
    background-color: rgb(243, 249, 242);
    width: 360px;
    height: max-content;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 20px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border: none;
    transition: color 500ms;
    cursor: pointer;
}

.closeButton:hover {
    color: var(--gray)
}

.title {
    margin-top: 20px;
    text-align: center;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.submitButton {
    padding: 10px 30px;
    background-color: var(--blue);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 500ms;
}

.submitButton:hover {
    background-color: rgba(0, 108, 228, 0.7);
}

.cancelButton {
    padding:  10px 30px;
    background-color: var(--gray);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 500ms;
}

.cancelButton:hover {
    background-color: rgba(118, 118, 118, 0.7);
}